/.gradle
/build
/bin
/logs/

# eclipse
/.classpath
/.project
/.settings

# idea
/matrixspider.*
/.idea
*.ipr
*.iws
*.iml

# hibernate config
/src/main/resources/hibernate.cfg.xml

# log4j config
/src/main/resources/log4j2.xml

# gradle wrapper
/gradle
/gradlew
/gradlew.bat